* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: quicksand;
}
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  border-bottom: 2px solid black;
}
.nav-part2 {
  display: flex;
  gap: 4vw;
  align-items: center;
}
.nav h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2vw;
}
.nav h4 {
  font-size: 2vw;
}
.nav i {
  font-size: 2vw;
  font-weight: 800;
  display: none;
}
.nav button {
  font-size: 1.5vw;
  padding: 1vw 2vw;
  background-color: peachpuff;
  color: rosybrown;
  border: none;
  border-radius: 5px;
  font-weight: 800;
}
.container {
  height: calc(100% - 100px);
  display: flex;
  width: 100%;
  align-items: center;
}

.left {
  height: 100%;
  width: 55%;
  padding: 5vw 5vw;
}
.left h1 {
  font-size: 4vw;
  line-height: 4.4vw;
}
.left h1 span {
  color: burlywood;
}
.left p {
  font-size: 2vw;
  font-weight: 500;
  width: 80%;
  color: #111;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.right {
  height: 100%;
  width: 45%;
  padding: 50px 0;
  text-align: center;
}

.right img {
  height: calc(100% - 0);
}
button {
  font-size: 1.5vw;
  padding: 1.3vw 2.3vw;
  background-color: peachpuff;
  color: rosybrown;
  border: none;
  border-radius: 5px;
  font-weight: 800;
}
@media (max-width: 600px) {
  .nav {
    height: 100px;
    padding: 0 6vw;
  }
  .nav h2 {
    font-size: 6vw;
  }
  .nav h4 {
    font-size: 6vw;
    display: none;
  }
  .nav button {
    display: none;
  }
  .nav i {
    font-size: 6vw;
    display: block;
  }
  .container {
    height: calc(100% - 100px);
    flex-direction: column;
  }
  .left {
    width: 100%;
    padding: 0 10;
    height: 60%;
    text-align: center;
  }
  .right {
    width: 100%;
    padding: 0 10;
    height: 90%;
    text-align: center;
  }
  .left h1 {
    line-height: 7vw;
    font-size: 6vw;
  }
  .left p {
    font-size: 4vw;
  }
}
