* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
}
.elem {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex start;
  border-bottom: 2px solid white;
  position: relative;
}

.elem h1 {
  font-size: 6vw;
  position: relative;
  z-index: 9;
  mix-blend-mode: difference;
}
.elem img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  opacity: 0;
  transition: all linear 0.1s;
}
