* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: salmon;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page3 {
  height: 100vh;
  width: 100%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box {
  height: 200px;
  width: 200px;
  background-color: white;
}
