* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}
#cursor {
  height: 10px;
  width: 10px;
  background-color: rgb(4, 154, 255);
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}
#cursorBlur {
  height: 200px;
  width: 200px;
  background-color: rgb(4, 154, 255);
  border-radius: 50%;
  filter: blur(60px);
  position: fixed;
  z-index: 1;
}
#nav {
  height: 120px;
  width: 100%;
  position: fixed;
  /* background-color: aquamarine;  */
  display: flex;
  align-items: center;
  padding: 0 150px;
  justify-content: flex-start;
  gap: 40px;
  z-index: 99;
}
#nav img {
  height: 250px;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 400;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
#page1 {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page1 h1 {
  font-size: 70px;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "JUST DO IT ";
  position: absolute;
  color: black;
  top: -3px;
  left: -3px;
  -webkit-text-stroke: 2px rgb(78, 163, 248);
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}
#page1 p {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  width: 70%;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}
#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-1 {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 800;
  margin-right: 10px;
  -webkit-text-stroke: 2px cadetblue;
  color: transparent;
  transition: all linear 0.2s;
}
#scroller h4:hover {
  color: cadetblue;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#about {
  height: 50vh;
  width: 100%;
  display: flex;
  padding: 0 50px;
  position: relative;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}
#about img {
  height: 250px;
  width: 310px;
  border-radius: 20px;
  object-fit: cover;
}
#aboutinfo {
  width: 40%;
  text-align: center;
}
#aboutinfo h3 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}
#aboutinfo p {
  font-size: 20px;
  line-height: 26px;
}
#cards-cont {
  /* background-color: red; */
  height: 60vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 90px;
  z-index: 10;
}
.card {
  height: 80%;
  overflow: hidden;
  width: 25%;
  background-color: blue;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  transition: all ease 0.3s;
  position: relative;
}
#card1 {
  background-image: url(https://images.unsplash.com/photo-1556906781-9a412961c28c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bmlrZXxlbnwwfHwwfHx8MA%3D%3D);
}
#card2 {
  background-image: url(https://images.unsplash.com/photo-1628413993904-94ecb60f1239?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG5pa2V8ZW58MHx8MHx8fDA%3D);
}
#card3 {
  background-image: url(https://images.unsplash.com/photo-1558104631-0fa41a8f6c20?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fG5pa2V8ZW58MHx8MHx8fDA%3D);
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(4, 154, 255);
  padding-top: 80px;
  padding: 30px;
  transition: all ease 0.3s;
  opacity: 0;
}
.card:hover .overlay {
  opacity: 1;
}
.overlay h3 {
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 30px;
}
.overlay p {
  color: black;
  font-size: 20px;
}

.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}
.pictext {
  position: absolute;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  top: 90%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.card:hover .pictext {
  opacity: 0;
}
#greendiv {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10%;
  background: linear-gradient(to right top, rgb(0, 33, 54), rgb(4, 154, 255));
}
#greendiv h4 {
  color: #000;
  z-index: 10;
  text-transform: uppercase;
  width: 100%;
  line-height: 50px;
  font-weight: 750;
  font-size: 30px;
}

#page3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#page3 p {
  font-size: 35px;
  font-weight: 700;
  width: 60%;
  text-align: center;
  line-height: 50px;
  z-index: 90;
}
#page3 img {
  position: absolute;
  height: 50px;
}
#page3 #colon1 {
  left: 15%;
  top: 25%;
}

#page3 #colon2 {
  right: 15%;
  bottom: 33%;
  transform: rotate(180deg);
}

#page4 {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 60px;
}

.elem {
  height: 50%;
  width: 27%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.elem h2 {
  height: 100%;
  width: 100%;
  background-color: rgb(4, 154, 255);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  z-index: 10;
  transition: all ease 0.3s;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.5;
  transition: all ease 0.5s;
}
.elem:hover h2 {
  color: white;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}
#page4 h1 {
  font-size: 80px;
  position: absolute;
  top: 2%;
  font-weight: 800;
  color: #000;
  -webkit-text-stroke: 2px white;
}
#footer {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to left top, rgb(0, 33, 54), rgb(4, 154, 255));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 150px;
  padding: 0 100px;
}
#f1 img {
  position: absolute;
  left: 2%;
  top: 40%;
  height: 100px;
  z-index: 0;
}
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 2;
}
#f2 h3 {
  font-size: 40px;
  white-space: nowrap;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  margin-bottom: 5px;
}
#f3 h3 {
  font-size: 30px;
  white-space: nowrap;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  margin-bottom: 5px;
}
