* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "montserrat";
  overflow: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
}
#loader {
  height: 100vh;
  width: 100%;
  background-color: #dadada;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
#loader h1 {
  font-size: 80px;
  color: black;
  font-weight: 500;
}
#main {
  height: 100%;
  width: 100%;
  background-color: #000;
}
#nav {
  height: 80px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
#nav-part2 {
  display: flex;
  gap: 40px;
}
#nav-part3 {
  display: flex;
  gap: 40px;
  align-items: center;
}
img {
  height: 70px;
}
#nav h3 {
  font-weight: 500;
  text-transform: uppercase;
}
#nav h4 {
  font-weight: 500;
  text-transform: uppercase;
}
#nav button {
  background-color: #fff;
  color: #000;
  padding: 10px 30px;
  border: none;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}
#main h1 {
  font-size: 65px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main span {
  background-color: brown;
  font-size: 15px;
  padding: 20px 40px;
  border-radius: 50px;
  margin: 0 20px;
}
#main h1:nth-child(2) {
  /* color: red; */
  margin-top: 60px;
}
#main #left-img {
  height: 250px;
  position: absolute;
  top: 14%;
  left: 8%;
  border-radius: 10px;
}
#main #right-img {
  height: 200px;
  position: absolute;
  bottom: 10%;
  right: 5%;
  border-radius: 10px;
}
